## Module submission header
### Submission preparation instructions 
_Completion of this header is mandatory, subject to a 2-point deduction to the assignment._ Only add plain text in the designated areas, i.e., replacing the relevant 'NA's. You must fill out all group member Names and Drexel email addresses in the below markdown list, under header __Module submission group__. It is required to fill out descriptive notes pertaining to any tutoring support received in the completion of this submission under the __Additional submission comments__ section at the bottom of the header. If no tutoring support was received, leave NA in place. You may as well list other optional comments pertaining to the submission at bottom. _Any distruption of this header's formatting will make your group liable to the 2-point deduction._


### Module submission group
- Group member 1
    - Name: Vinay Paratala
    - Email: vp473@drexel.edu
- Group member 2
    - Name: Bidit Pakrashi
    - Email: bp593@drexel.edu
- Group member 3
    - Name: Omera Ezike
    - Email: oe35@drexel.edu
- Group member 4
    - Name: Saravanan Kannappan
    - Email: sk4243@drexel.edu
### Additional submission comments
- Tutoring support received: NA
- Other (other): NA

# Assignment Group 3
## Module B _(20 points)_

In this problem, you will be using the [Baseball Databank provided by Sean Lahman](http://seanlahman.com/baseball-archive/statistics/). This data is already in the `data/baseballdatabank2017.1/core/` directory. It contains a collection of tables. The immediate goal will be to create a dataframe that has the following information for each baseball player:

- Batting statistics (to be described)
- Fielding statistics (to be described)
- Pitching statistics (to be described)
- Their salaries
- The teams they played for
- Their full names: First Middle Last
- Their heights and weights

The dataset has a data dictionary available at:

- `../data/baseballdatabank-2017.1/core/readme2014.txt`

The data and tables you will need are:

- `Appearances.csv`
    - The year id
    - The player id
    - The team id
- `Batting.csv`
    - The number of games played and at bats
    - The number of runs, hits, doubles, triples, homeruns, RBIs, strikeouts, and times hit by pitch
- `Fielding.csv`
    - The number of games played
    - The number of opponents put out, assisted outs, and fielding errors
- `Master.csv`
    - Their full names
    - Their heights and weights
- `Pitching.csv`
    - The number of games played, won, lost
    - The number of strikeouts, hits, earned runs, homeruns, and batters hit by pitches   
- `Salaries.csv`
    - The players salary
- `Teams.csv`
    - The name of the player's team
    - The year the team was named its name

__B1.__ _(4 points)_ First, complete the function below, which should load the data, keeping only the columns of interest.

In [215]:
# B1:Function(4/4)

import pandas as pd

def load_columns_of_interest(path_to_databank_core = 'data/baseballdatabank-2017.1/core/'):
    (appearances_file, batting_file, 
     fielding_file, master_file, pitching_file, 
     salaries_file, teams_file) = [path_to_databank_core + table_file
                                   for table_file in ["Appearances.csv", "Batting.csv", 
                                                      "Fielding.csv", "Master.csv", 
                                                      "Pitching.csv", "Salaries.csv", 
                                                      "Teams.csv"]]    
    ## load the  various tables' data,
    ## keeping only the necessary keys specified above
    #---your code starts here---
    appearances = pd.read_csv(appearances_file,usecols =['yearID','teamID','playerID'], low_memory = True)
    batting = pd.read_csv(batting_file,usecols =['teamID','playerID','G','AB','R','H','2B','3B','HR','RBI','SO','HBP','yearID'], low_memory = True)
    
    fielding = pd.read_csv(fielding_file,usecols =['teamID','playerID','PO','G','A','E','yearID'], low_memory = True)
    #print(fielding.head())
    master = pd.read_csv(master_file,usecols =['nameFirst','nameLast','weight','height','birthYear','playerID'], low_memory = True)
   
    #master['name'] =   master['nameFirst'] + " " +  master['nameLast']
    #print(master.head())
    pitching = pd.read_csv(pitching_file,usecols =['teamID','playerID','W','L','G','SO','H','ER','HR','HBP','yearID'], low_memory = True)
    #print(pitching[pitching['HBP'].notnull()])
    salaries = pd.read_csv(salaries_file,usecols =['playerID','yearID','teamID','salary'], low_memory = True)
    #print(salaries.head())
    teams = pd.read_csv(teams_file,usecols =['teamID','name','yearID'], low_memory = True)
    #print(teams['yearID'].max())

    #---your code stops here---
    
    return [appearances, batting, fielding, master, pitching, salaries, teams]

For reference, your output should be:
```
    playerID  yearID teamID  salary
0  barkele01    1985    ATL  870000
1  bedrost01    1985    ATL  550000
2  benedbr01    1985    ATL  545000
3   campri01    1985    ATL  633333
4  ceronri01    1985    ATL  625000
```

In [217]:
# B1:SanityCheck

baseball_data = load_columns_of_interest('data/baseballdatabank-2017.1/core/')
(baseball_data[-2].head())

   yearID teamID   playerID  salary
0    1985    ATL  barkele01  870000
1    1985    ATL  bedrost01  550000
2    1985    ATL  benedbr01  545000
3    1985    ATL   campri01  633333
4    1985    ATL  ceronri01  625000

__B2.__ _(5 points)_ Next, complete the function below, which takes a year as input and outputs subsets of each of the tables with data from only that year. [Hint. Use Boolean masks!]

In [184]:
# B2:Function(5/5)

def FilterByYear(year, baseball_data):
    (appearances, batting, fielding, 
     master, pitching, salaries, teams) = baseball_data
    
    ## filter the relevant tables by year.
    ## complete the filtration task for the relevant tables
    
    #---your code starts here---
    appearances_filtered = appearances[appearances['yearID'] == year]
    batting_filtered = batting[batting['yearID'] == year]
    fielding_filtered = fielding[fielding['yearID'] == year]
    master_filtered = master
    pitching_filtered = pitching[pitching['yearID'] == year]
    salaries_filtered = salaries[salaries['yearID'] == year]
    teams_filtered = teams[teams['yearID'] == year]
    #---your code stops here---
    
    return(appearances_filtered, batting_filtered, 
           fielding_filtered, master_filtered,
           pitching_filtered, salaries_filtered, teams_filtered)

For reference, your output should be:
```
       playerID  yearID teamID  salary
1288  ackerji01    1987    ATL  350000
1289  alexado01    1987    ATL  650000
1290  assenpa01    1987    ATL   80000
1291  barkele01    1987    ATL  890000
1292  benedbr01    1987    ATL  615000
```

In [185]:
# B2:SanityCheck

print(FilterByYear(1987, baseball_data)[-2].head())

      yearID teamID   playerID  salary
1288    1987    ATL  ackerji01  350000
1289    1987    ATL  alexado01  650000
1290    1987    ATL  assenpa01   80000
1291    1987    ATL  barkele01  890000
1292    1987    ATL  benedbr01  615000

__B3.__ _(8 points)_ Next, complete the function below. It will again take a year as input, and then use the previous filtering function to get separate tables. 

Your job is to merge these tables using the appropriate joins. Determine which columns have the same names but different values, then determine a useful naming scheme of suffixes that indicates the table the column was originally drawn from. Use this scheme in combination with the `suffixes` argument of the `merge()` function to avoid column name conflicts. Also remove duplicate columns from the merged table.

In [207]:
# B3:Function(8/8)

def MergeTables(year, baseball_data):
    
    (appearances_filtered, batting_filtered, 
     fielding_filtered, master_filtered,
     pitching_filtered, salaries_filtered, teams_filtered) = FilterByYear(year, baseball_data)
    
    ## start the merged dataframe off with the appearances data
    merged = pd.DataFrame(appearances_filtered)
    
    ## first, merge on the batting  data
    #---your code starts here---
    #print(merged.head())
    #print(batting_filtered.head())
    merged = merged.merge(batting_filtered, how = "inner", on = ["yearID","teamID","playerID"])
    #---your code stops here---
    
    
    ## merge on the fielding data
    #---your code starts here---
    merged = merged.merge(fielding_filtered, how = "inner", on = ["yearID","teamID","playerID"],suffixes=['','-fielding'])
    #---your code stops here---
    
    
    ## merge on the player data
    #---your code starts here---
    #print(master_filtered.head())
    merged = merged.merge(master_filtered, how = "left", on = ["playerID"])
    #---your code stops here---
    
    ## merge on the pitching data
    #---your code starts here---
    merged = merged.merge(pitching_filtered, how = "left", on =["yearID","teamID","playerID"],suffixes=['','_p'])
    #---your code stops here---
    
    ## merge on the salaries data
    #---your code starts here---
    merged = merged.merge(salaries_filtered, how = "left", on =["yearID","teamID","playerID"])
    #---your code stops here---
    
    ## merge on the teams data
    #---your code starts here---
    merged = merged.merge(teams_filtered, how = "left", on =["yearID","teamID"])
    #---your code stops here---
    
    ## Drop the (now) extra yearID keys
    ## add more keys to drop to the list here
    #---your code starts here---
    #print(merged.keys())
    #---your code stops here---
    
    return(merged)

For referene, your output should be:
```
   yearID   playerID teamID    G   AB    R    H  2B  3B  HR  ...   G_p    W  \
0    2008  aardsda01    BOS   47    1    0    0   0   0   0  ...  47.0  4.0   
1    2008  abercre01    HOU   34   55   10   17   5   0   2  ...   NaN  NaN   
2    2008  abreubo01    NYA  156  609  100  180  39   4  20  ...   NaN  NaN   
3    2008  accarje01    TOR   16    0    0    0   0   0   0  ...  16.0  0.0   
4    2008  aceveal01    NYA    6    0    0    0   0   0   0  ...   6.0  1.0   

     L  SO_p   H_p    ER  HR_p HBP_p      salary               name  
0  2.0  49.0  49.0  30.0   4.0   5.0    403250.0     Boston Red Sox  
1  NaN   NaN   NaN   NaN   NaN   NaN         NaN     Houston Astros  
2  NaN   NaN   NaN   NaN   NaN   NaN  16000000.0   New York Yankees  
3  3.0   5.0  15.0   9.0   1.0   1.0    392200.0  Toronto Blue Jays  
4  0.0  16.0  25.0   8.0   4.0   0.0         NaN   New York Yankees
```

In [208]:
# B3:SanityCheck

merged = MergeTables(2008, baseball_data)
print(merged.head())

   yearID teamID   playerID    G   AB    R    H  2B  3B  HR  ...    W    L  \
0    2008    BOS  aardsda01   47    1    0    0   0   0   0  ...  4.0  2.0
1    2008    HOU  abercre01   34   55   10   17   5   0   2  ...  NaN  NaN
2    2008    NYA  abreubo01  156  609  100  180  39   4  20  ...  NaN  NaN
3    2008    TOR  accarje01   16    0    0    0   0   0   0  ...  0.0  3.0
4    2008    NYA  aceveal01    6    0    0    0   0   0   0  ...  1.0  0.0

    G_p   H_p    ER  HR_p  SO_p HBP_p      salary               name
0  47.0  49.0  30.0   4.0  49.0   5.0    403250.0     Boston Red Sox
1   NaN   NaN   NaN   NaN   NaN   NaN         NaN     Houston Astros
2   NaN   NaN   NaN   NaN   NaN   NaN  16000000.0   New York Yankees
3  16.0  15.0   9.0   1.0   5.0   1.0    392200.0  Toronto Blue Jays
4   6.0  25.0   8.0   4.0  16.0   0.0         NaN   New York Yankees

[5 rows x 31 columns]

__B4.__ _(3 points)_ Now that the data are merged, we should note: there may be nulls. Determine how to deal with the NAs and apply this strategy. Complete the inline cell below to fill the NAs with zeros, or some other more, potentially more-reasonable values.

In [196]:
# B4:Inline(2/3)

#--- your code starts here---
#merged.info()

# According to info  following columns has NA or Null value
#21  W           709 non-null    float64
#22  L           709 non-null    float64
# 23  G           709 non-null    float64
# 24  H_p         709 non-null    float64
# 25  ER          709 non-null    float64
# 26  HR_p        709 non-null    float64
# 27  SO_p        709 non-null    float64
# 28  HBP_p       709 non-null    float64
# 29  salary      1065 non-null   float64

# we will replace NAN salary with median value 
#
merged['salary'].fillna(
    value=merged['salary'].median(),
    inplace=True
)
merged['G'].fillna(
    value = 0,
    inplace=True
)


#merged.info()
#--- your code stops here---

# filter all entries with non-zero salary
merged["salary"].isna().sum()

0

For reference, what should the output from the previous cell be?

In [ ]:
# B4:Inline(1/3)

# What should the output from the previous cell be?
# print any non-negative integer, e.g., 7
print("0")